<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <style>
        .form_container {
           justify-content: center;
        }
        .form_container button{
            height: 50px;
            width: 200px;
            border: none;
            text-align: center;
            background-color: green;
            color: #ffffff;
            font: bold;
            justify-content: center;
            margin-left: 650px;
            margin-top: 100px;
        }
        .form_container button a{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            font: bold;
            font-size: large;
        }
    </style>
</head>
<body>
    <div class="form_container">
        <form action="/home/checkout" method="post"> 
            <input type="hidden" value="<%=data.name %>" name="name">
            <input type="hidden" value="<%=data._id %>" name="payment_id">
            <input type="hidden" value="<%=data.amount %>" name="amount">
            <input type="hidden" value="<%=data.phone %>" name="phone">
            <button type="button"><a href="/payment/ssl-request">Checkout</a></button>
        </form>
    </div>
</body>
</html>